* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.5rem + 1vw);
  --color-background: #ebe6dc;
  --color-card-background: #f3f2ec;
  --color-background-offset: #da8d7e;
  --color-text-main: #432025;
  --color-text-secondary: #8a2336;
  --color-text-accent: #db5156;
  /* --text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

body,
.app {
  width: 100%;
  height: 100vh;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text-main);
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
}

h3 {
  font-weight: 500;
  color: var(--color-text-accent);
  font-size: 1rem;
}

h4 {
  color: var(--color-text-secondary);
  font-weight: 400;
}

span,
.date-and-time h3 {
  text-align: center;
}

.layout {
  height: 100vh;
  padding: 0.5rem 2rem 2rem 2rem;
}

.main-content {
  flex-grow: 1;
}

.weather-data,
.main-content {
  gap: 1.25rem;
}

.card-container,
.weather-data-left-container,
.layout {
  gap: 0.5rem;
}

/* || DEFINING FLEX ELEMENTS */

/* Flex row */

.header,
.highlights-cards-container,
.weather-data,
.forecast-data-cards-container,
.card > *,
.weather-display-container,
.weather-display-container > *,
.temp-condition,
.search-container-placeholder,
.search-component {
  display: flex;
}

/* flex column */

/* CHECK .CURRENT-DATA */

.layout,
.main-content,
.weather-data > *,
.forecast-data,
.weather-display-container > *,
.card,
.date-and-time {
  display: flex;
  flex-direction: column;
}

/* current-data */
.card > *,
.weather-display-container,
.weather-display-container > *,
.temp-condition,
.search-container-placeholder {
  align-items: center;
}

.temp-condition,
.weather-display-container > *,
.search-container-placeholder {
  /* flex: 1 1 50%; */
  justify-content: center;
}

/* HEADER */

.header {
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  text-wrap: nowrap;
}

/* WEATHER INFO DISPLAY*/

.weather-display-background-container {
  flex: 1 40%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
}

.weather-display-background-img {
  margin: -1px;
  height: 101%;
  background-image: url("./assets/partly-cloudy.jpg");
  background-size: cover;
  background-position: 100% 75%;
}

.weather-display-container {
  height: 100%;
  color: var(--color-background);
  text-shadow: black 0 0 20px;
  backdrop-filter: blur(4px) brightness(0.8) contrast(80%) hue-rotate(340deg);
  padding: 2rem;
  gap: 1.5rem;
}

.weather-display-container > * {
  margin: auto;
}

.weather-display-container h2 {
  font-size: 2rem;
}

.high-low {
  display: flex;
  gap: 0.75rem;
}

/* || FORECAST INFO */

/* container */

.weather-data {
  flex: 1 60%;
}

.weather-data h3 {
  margin-bottom: 0.5rem;
}

.forecast-data {
  flex: 1 1 50%;
}

.card-container {
  flex-grow: 1;
}

/* LEFT SIDE CONTAINER */

.weather-data-left-container {
  flex: 1 50%;
}

.weather-data-left-container span,
.date-and-time {
  font-size: 0.8rem;
}

.highlights-cards-container {
  flex-wrap: wrap;
}

/* WEATHER DATA CARD CONTAINER */

.card {
  background-color: var(--color-card-background);
  box-shadow: var(--box-shadow);
  align-items: center;
  padding: 0.25rem;
}

.card > *:not(:first-child) {
  /*first element of card not flex grow/shrink */
  flex: 1 1;
}

.card.highlight-item {
  flex: 1 1 40%;
}

.card.hour-forecast-item {
  flex: 1 1 34%;
}

.card.next-day-item {
  flex: 1 1 17%;
}

.highlight-item-text {
  font-size: 1.75rem;
}

/* SEARCH BAR AND RESULTS CONTAINER */
.search-container-placeholder {
  position: relative;
}

.search-bar,
.search-bar::placeholder {
  all: unset;
}

.search-container-placeholder {
  width: 70%;
  height: 100%;
}

.search-component {
  position: absolute;
  width: 60%;
  height: 1.5rem;
  background: var(--color-card-background);
}

.search-bar {
  height: 100%;
  width: 100%;
  padding-left: 0.8rem;
  border-radius: inherit;
  box-shadow: var(--box-shadow);
}

.search-bar:focus {
  border: 1.5px solid var(--color-text-accent);
}

.search-results {
  position: absolute;
  width: 100%;
  top: 1.75rem;
  z-index: 1;
}

.search-result {
  background-color: var(--color-card-background);
  opacity: 0.85;
}

.search-result,
.search-result-content {
  border-radius: 0;
}

.search-result:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.search-result-content {
  padding: 0.25rem;
  margin: 0 0.5rem 0 0.5rem;
  border-bottom: 1.5px solid var(--color-text-accent);
}

.search-result:last-child .search-result-content {
  border-bottom: none;
}

.search-result:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.search-result:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* Responsive elements */

@media (max-width: 900px) {
  .forecast-data-cards-container {
    flex-wrap: wrap;
  }

  .weather-data-left-container {
    flex-direction: row;
    gap: 1.25rem;
  }
  .weather-data {
    flex-direction: column;
  }
  .forecast-data {
    flex: 1 1 0%;
  }
  .weather-data-left-container .card {
    flex: 1 1 0%;
  }

  .card.hour-forecast-item {
    flex: 1 1 30%;
  }
}

@media (max-width: 435px) {
  .weather-data-left-container {
    flex-direction: column;
  }
}
